$--theme-color-watermelon_red: #BC4749;
$--theme-color-deep_mose_green: #386641;
$--theme-color-palm_leaf: #6A994E;
$--theme-color-middle_green_yellow: #A7C957;
$--theme-color-champagne: #F2E8CF;

$--theme-font: 'Girassol', cursive;