@import './global.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Girassol', cursive;
  background: linear-gradient(
    45deg,
    $--theme-color-middle_green_yellow,
    $--theme-color-watermelon_red
  );
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.card__wrapper {
background-color: $--theme-color-champagne;
max-width: 800px;
border-radius: 20px;
margin-top: 30px;
position: relative;
}