@import '../../assets/styles/global.scss';

.item-detail__noti {
    color: $--theme-color-watermelon_red;
    font-family: $--theme-font;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}