@import '../../assets/styles/global.scss';

.item-card__wrapper {
    font-family: $--theme-font;
    padding: 20px;
    margin-top: 30px;
    max-width: fit-content;
   
.item__wrapper {
    justify-content: space-around;
    .item-photo__wrapper {
        display: flex;
        align-items: center;
        width: fit-content;
       
        .item-photo__frame {
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 20px;
            
            img {
                max-height: 300px;
                border-radius: 20px;
            }
        }
    }
    
    .item-detail__wrapper {
        margin: 0;
        padding: 20px 20px 20px 0px;
    
        h1 {
            font-size: 30px;
            text-align: center;
    
        }
    
        .btn__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            a, #btn--item-place, #btn--item-delivery, #btn--item-confirmation {
                margin-top: 10px;
                width: 150px;
                border-radius: 20px;
                font-size: 15px;
                padding: 10px;
                color: $--theme-color-champagne;
                border: none;
            }
            a {
                padding: 0;
            }
            
            #btn--item-place {
                background-color: $--theme-color-palm_leaf;
            }
    
            #btn--item-delivery {
                background-color: $--theme-color-deep_mose_green;
    
            }
    
            #btn--item-confirmation {
                background-color: $--theme-color-watermelon_red;
    
            }
    
        }
    }
}


}
