@import '../../assets/styles/global.scss';

.guideline {
    font-size: 14px;
    padding: 30px 30px 20px 30px;
    font-family: $--theme-font;
    position: relative;
     

    h3 {
        font-size: 20px;
        color: $--theme-color-watermelon_red;
    }

    p, ul {
        font-size: 20px;
        line-height: 25px;
        margin-top: 10px;
        text-align: justify;
    }
    
    .guideline--warning {
        color: $--theme-color-deep_mose_green;
        
        a {
            color: $--theme-color-watermelon_red;
            text-decoration: none;
        }
    }


    
}